__pycache__
*.py[cod]


# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
.DS_Store
.ipynb_checkpoints/

# folder
MUSTDO/

# vs code
.vscode

# my little dumb practice
basic_fxs_practice.ipynb

# Packaging
*.egg-info/
*.egg
dist/
build/

