__pycache__
*.py[cod]


# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
.DS_Store
.jupyter/desktop-workspaces

# folder
MUSTDO/
data/UNUSED/

# vs code
.vscode

# my little dumb practice
basic_fxs_practice.ipynb

# Packaging
*.egg-info/
*.egg
dist/
build/

